{% extends 'base2.html' %}

{% block content %}

<h1 class="text-decoration-underline">Dealership Inventory Table</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Image</th>
      <th scope="col">Vin#</th>
      <th scope="col">Year</th>
      <th scope="col">Make</th>
      <th scope="col">Model</th>
      <th scope="col">Description</th>
      <th scope="col">Date Entered</th>
    </tr>
  </thead>
  <tbody>
    {% for items in inventory %}
    <tr>
      <td>{{items.id}}</td>
      <td><img src='{{items.image}}' class="img-fluid img-thumbnail w-50" alt="..."></td>
      <td>{{items.vin_num}}</td>
      <td>{{items.year}}</td>
      <td>{{items.make}}</td>
      <td>{{items.model}}</td>
      <td>{{items.description}}</td>
      <td>{{items.date_added}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}