{% extends 'base.html' %}

{% block content %}

<h1 class="text-decoration-underline">Inventory Reserves Table</h1>
<h3>This is a backup database in case of accidental deletions or importing vehicle information that
    another User has added to the database.
</h3>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Image</th>
      <th scope="col">Vin#</th>
      <th scope="col">Year</th>
      <th scope="col">Make</th>
      <th scope="col">Model</th>
      <th scope="col">Description</th>
      <th scope="col">Date Entered</th>
    </tr>
  </thead>
  <tbody>
    {% for items in rr %}
    <tr>
      <td>{{items.id}}</td>
      <td>
          <a href="{{ url_for('inventory.vehicleListingPage', id=items.id) }}"><img src='{{items.image}}' class="img-fluid img-thumbnail w-50" alt="..."></a>
    </td>
      <td>{{items.vin_num}}</td>
      <td>{{items.year}}</td>
      <td>{{items.make}}</td>
      <td>{{items.model}}</td>
      <td>{{items.description}}</td>
      <td>{{items.date_added}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}